.mr8px{
  margin-right: 5px;
}
.mr20px{
  margin-right: 20px;
}
.mt80px{
  padding-top: 80px;
}
.mb16{
  margin-bottom: 16px;
}
.mb30px{
  margin-bottom: 30px;
}
.mb60px{
  margin-bottom: 60px;
}
.mb80{
  margin-bottom: 80px;
}
.mb45{
  margin-bottom: 45px;
}
.mb50{
  margin-bottom: 50px;
}
.pt80{
  padding-top: 80px;
}
.pb5{
  padding-bottom: 5px;
}
.pb30{
  padding-bottom: 30px;
}
.pb80{
  padding-bottom: 80px;
}
.ml-12{
  margin-left: 12px;
}
.pd-20px{
  padding:20px;
}
.pd-10px{
  padding: 10px;
}
.mb-8{
  margin-bottom: 8px;
}
.mr-18{
  margin-right: 18px!important;
}
.pb-136{
  padding-bottom: 136px;
}
.mb-24{
  margin-bottom: 24px;
}
.mb20px{
  margin-bottom: 20px;
}
.mr-50{
  margin-right: 50px;
}
.mr-30{
  margin-right: 30px;
}
.pt60{
  padding-top: 60px;
}
.pb40{
  padding-bottom: 40px;
}
.pt40{
  padding-top: 40px;
}
.pb60{
  padding-bottom: 60px;
}
.pt100{
  padding-top: 100px;
}
.pl135{
  padding-left: 135px;
}
.mb70{
  margin-bottom: 70px;
}
.mb100{
  margin-bottom: 100px;
}
.pt70{
  padding-top: 70px;
}
.pb70{
  padding-bottom: 70px;
}
.mb50{
  margin-bottom: 50px;
}