@media screen and (max-width: 1280px){

}
@media screen and (max-width: 1024.5px){

}
@media screen and (max-width: 991.5px){
  .header__menu{
    display: none;
  }
  .menu-icon{
    display: block;
  }
  .custom-responsive{
    margin: 0 50px;
  }
}
@media screen and (max-width: 768.5px){
  .btn{
    padding: 0.75rem 1rem;
  }
}
@media screen and (max-width: 567.5px){

}