.pt60percent{

  padding-top: 60%;
}
.pt70percent{
  padding-top: 70%;
}
.pt80percent{
  padding-top: 70%;
}
.pt90percent{
  padding-top: 90%;
}
.pt100percent{
  padding-top: 100%;
}
.pl30{
  padding-left: 30px;
}
.min-w240{
  min-width: 240px;
}
.min-h100percent{
  min-height: 100vh;
}
.max-w260{
  max-width: 260px;
}
.max-w200{
  max-width: 200px;
}
.max-w570{
  max-width: 570px;
}
.max-w405{
  max-width: 405px;
}