@import "fonts";
@import "mixin";
@import "color";
@import "text";
@import "size";
@import "distance";
@import "button";
ul{
  list-style: none;
}
img{
  width: 100%;
  height: auto;
  object-fit: contain;
}

body{
  background-color: #fff;
}
.container{
  max-width: 1128px!important;

}
.logo{
  max-width: 163px;
}

a{
  @include transition;
  text-decoration: none;
  &:hover{
    text-decoration: none!important;
  }
}
.header{
  min-height: 100px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  &__menu{
    ul{

    }
    li{
      margin-left: 40px;
    }
    a{
      font-style: normal;
      font-weight: 500;
      font-size: 14px;
      line-height: 15px;
      color: black;
    }
  }
}
.hr{
  background-color: white;
  opacity: 0.3;
}
.copyright{
  font-style: normal;
  font-weight: normal;
  font-size: 17px;
  line-height: 162.35%;
  display: flex;
  align-items: center;
  text-align: center;
  color: #FFFFFF;
  opacity: 0.7
}
.ic-hover{
  @include transition;
  position: absolute;
  bottom: 40px;
  left: -50%;
  transform: translateX(-50%);
}
.title-banner{
  @include transition;
  position: absolute;
  bottom: 40px;
  left: 50%;
  transform: translateX(-50%);
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 135.84%;
  display: flex;
  align-items: flex-end;
}
.t-hover-type-1{
  @include transition;
  &:hover{
    color: $color_3!important;
    text-shadow: 1px 1px $color_1;
    text-decoration: none;
  }
}
.image-cover{
  background-size: cover;
  background-position: 100% 0;
  background-repeat: no-repeat;
}

.image-news{
  min-height: 72px;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.image-product{
  background-size: 100% auto;
  background-position: center;
  background-repeat: no-repeat;
}
.image-banner-hover{
  @include transition;
  &:hover{
    background-position: 0 -10px;
    .title-banner{
     bottom:81px!important;
    }
    .ic-hover{
      left: 50%;
    }
  }
}

.image-product-hover{
  @include transition;
  &:hover{
    transform: scale(1.1);
  }
}
.banner__slider{
  position: relative;
  display: block;
  box-sizing: border-box;
  .slick-dots{
    list-style: none;
    padding-top: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 16px;
    left: 2%;
    transform: translate(-50%, 0);
    align-items: center;
    .slick-active{
      width: 12px;
      height: 12px;
     border:1px solid #fff;
      border-radius: 100%;
      background-color: transparent;
    }
    li{
      border-radius: 50%;
      transition: all 0.3s ease;
      cursor: pointer;
      width: 6px;
      height: 6px;
      background: white;
      margin: 0 5px;
    }
  }
}
.image-banner{
  min-height: 100vh!important;
}
.image-thumbnail{

  min-height: 72px;
  min-width: 72px;
  width: 100%;
  background-size: 100% auto;
}
.banner-content{
  min-height: 100vh;
}
.menu__footer{
  a{
    color: white;
  }
}
.hover-item-menu{
  @include transition;
  &:before{
    @include transition;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width:0;
    height: 2px;
    background-color: #fff;
    border-radius: 10px;
  }
  &:hover{
    &:before{
      width: 100%;
    }
  }

}
.ellipse{
  width: 300px;
  height: 300px;
  border: 1px solid #fff;
  border-radius: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #fff;
  >h2{
    font-weight: 600;
  }
}
.image-banner-top{
  background-size: cover;
  background-position: top left;
  background-repeat: no-repeat;
}
.products{
  max-width: 970px!important;
  margin: 0 auto;
  overflow: hidden;
  .product{
    @include transition;
    &:hover{
     //transform: scaleX(0.2);
    }
    &:before{
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      width: 100%;
      height: 100%;
      background: linear-gradient(180deg, rgba(0, 0, 0, 0) 51.56%, rgba(0, 0, 0, 0.8) 100%);
      z-index: 1;
    }
  }
  .col-lg-6{
    &:nth-child(2){
      margin-top: 140px;
    }
    &:nth-child(3){
      margin-top: -140px;
    }
  }
  .product__content{
    position: absolute;
    left: 0;
    bottom: 0;
    right: 0;
    top: 0;
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    padding: 30px 40px;
    z-index: 1;
  }
}

.custom-column{
  padding-top: 140px;
}
.usp__content{
  display: flex;
  width: 100%;
  .box{
    max-width: 25%!important;
    padding-right: 42px;
  }
}
@import "../lib/slick/slick";
.menu-icon{
  display: none;
  position: absolute;
  right: 20px;
  top: 35px;
  cursor: pointer;
  span{
    width: 30px;
    border-radius: 5px;
    height: 4px;
    margin: 4px 0;
    background-color: $color_1;
    display: block;
  }
}
@import "responsive";